html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

body {
  // height: 100vh;
  // min-height: 100vh;
  max-width: 730px;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
  // overflow-x: hidden;
  // margin-bottom: 100px;
}

.body-100 {
  height: calc(100vh - 40px);
  margin-bottom: 0;
}

:root {
  --primary: #8560a9;
  --primary-neutral: #67616d;
  --primary-light: #d3c1e5;
  --primary-dark: #453257;
  --background: #faf9fc;
  --complement: #d5ef7f;
  --complement-dark-i: #aecb4f;
  --complement-dark-ii: #788c36;
  --complement-light: #e5f7a9;
  --white: #ffffff;
  --black: #000000;
}

a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.border-top-none {
  border-top: none !important;
}
.w-500 {
  width: 500px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-1 {
  margin-right: 0.25rem;
}
.p-0 {
  padding: 0;
}
.pt-5 {
  padding-top: 5px;
}
.m-0 {
  margin: 0;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-240 {
  margin-left: 240px;
}
.ml-260 {
  margin-left: 260px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.d-none {
  display: none;
}

main {
  transition: 0.5s ease-in-out;
  // overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

#overlay-sidebar {
  position: fixed;
  height: 100vh;
  z-index: 99;
  width: 100%;
  background: transparent;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 730px;
  z-index: 999;
  height: 25px; //40px;
  background-color: var(--primary);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease-in-out;

  & > a img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

#login-bg {
  background: url("../img/Street-Dance-01.jpg") no-repeat center center;
  height: 100vh;
  background-size: cover;
  z-index: 0;
}

.overlay {
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 730px;
  height: 100%;
  opacity: 0.8;
  z-index: 1;
}

.login-container {
  z-index: 999;
  max-width: 730px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column !important;
  // flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & > form > button {
    height: 64px;
    width: 100%;
    color: var(--primary-dark);
    background-color: var(--complement);
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    border: none;
    font-weight: bold;
    padding: 0px;
  }

  & > .login-content {
    color: var(--complement);

    & .logo-img {
      margin-top: 50px;
      width: 55px;
      border-radius: 50%;
      padding: 9px;
      border: 2px solid var(--complement-light);
      outline: 1px solid var(--complement);
      outline-offset: 2px;
    }

    & > h1 {
      font-size: 24px;
    }

    & > h2 {
      font-size: 16px;
    }
  }

  & form {
    width: 280px;
    text-align: -webkit-center;
  }
}

.login-field {
  position: relative;
  width: 280px;

  & > .field-icon {
    width: 20px;
    position: absolute;
    color: var(--primary-light);
    left: 13px;
    top: 16.5px;
  }

  & > input {
    position: relative;
    width: 80%;
    border-radius: 20px;
    border: 1px solid #d3c1e5;
    background-color: transparent;
    margin: 8px 0;
    padding: 9px 10px 9px 34px;
    font-size: 16px;
    color: var(--primary-dark);
    outline: none;

    &::placeholder {
      color: #ac8ec9;
    }

    &:focus {
      color: var(--primary-dark);
      border: 1px solid var(--white);
      background-color: rgb(164, 139, 189);
      opacity: 0.45;
      background-color: var(--primary-light);
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}
.flex-col {
  flex-flow: column;
}

.profile {
  width: 100%;
  max-width: 730px;
  position: fixed;
  z-index: 99;
  background-color: var(--white);
  // margin-top: 36px;
  padding-top: 36px;
  text-align: center;

  & img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primary-light);
  }

  & h1 {
    font-weight: normal;
    margin-top: 24px;
    font-size: 24px;
    color: var(--primary-neutral);
  }

  & h6 {
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 14px;
    color: var(--primary);

    & > span img {
      width: 15px;
    }

    & > span {
      margin-right: 5px;
      width: 15px;
    }
  }
}

.stats {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  color: #8c8c8c;
  font-size: 12px;

  // testing
  // display: flex;
  // flex-direction: column;

  & .stat {
    display: flex;
    position: relative;
    margin: 0 15px;

    & .stat-img {
      width: 16px;
    }

    & #comment-icon-active path {
      fill: var(--complement);
    }

    & span.active {
      color: var(--complement-dark-i);
    }
  }

  & .stat::after {
    content: "";
    position: absolute;
    right: -12.5px;
    // top: 5;
    background-color: #e8e8e8;
    height: 11px;
    width: 1px;
  }
}

.active {
  color: var(--complement-dark-i);
}

.no-activity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;

  & > span {
    margin-top: 14px;
    color: #bababa;
    font-size: 14px;
  }

  & > .icon {
    width: 60px;

    & path {
      fill: var(--primary-light);
    }
  }

  & img {
    // tbd
    width: 80px;
  }

  & h6 {
    color: #bababa;
    font-size: 14px;
  }
}

.post-channel {
  padding: 3px 10px;
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  color: var(--primary);
  font-size: 12px;
}

.posts-list {
  margin: 16px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;

  & .post-author {
    display: flex;
    align-items: center;

    & .profile-img {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }

    & span {
      font-size: 12px;
      color: var(--primary-neutral);
    }
  }

  & .post-channel {
    position: absolute;
    right: 0;
    top: 0;
  }

  & h1 {
    color: var(--primary-dark);
    font-size: 18px;
  }

  & h6 {
    display: flex;
    font-size: 12px;
    color: var(--primary);
    font-weight: normal;

    & > .icon {
      width: 12px;
      margin-right: 5px;
    }
  }

  & p {
    font-size: 14px;
    color: var(--primary-neutral);
    margin: 12px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden;
  }

  & ul {
    font-size: 12px;
    list-style-type: none;
    display: flex;

    & > li {
      margin-right: 47px;
      color: #ac8ec9;
      display: flex;

      & > .icon {
        width: 12px;
        margin: 0 5px 0 0;
      }
    }

    & > li.liked {
      color: #453257;
    }

    & > li #going {
      & path {
        fill: var(--complement-dark-i);
      }
    }
  }

  & .heading-container {
    margin-top: 8px;
    display: inline-block;
    width: 100%;

    & .title {
      float: left;
      max-width: 100%;
    }

    & img {
      // margin-top: 8px;
      width: 55px;
      height: 55px;
      float: right;
    }
  }

  .maxw-80 {
    max-width: 80% !important;
  }
}

.post-detail {
  margin: 16px;

  & h1 {
    color: var(--primary-dark);
    font-size: 18px;
  }

  & > .post-author {
    display: content;
    margin-bottom: 24px;

    & img {
      margin-right: 15px;
      float: left;
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    & content {
      margin-left: 15px;
      display: block;
      margin: 2px 0 0 0;
    }

    & h3 {
      font-size: 13px;
      color: var(--primary-neutral);
      margin-bottom: 4px;
    }

    & span {
      font-size: 12px;
      color: #bababa;
    }
  }
}

#carousel {
  margin: 0 0 12px 16px;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;

  & .slide {
    display: inline;
    margin-right: 12px;

    & img {
      width: 180px;
      height: 100px;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.details-section {
  margin-top: 16px;

  & .post-content {
    color: var(--primary-neutral);
    font-size: 14px;
    margin: 0 16px;
    position: relative;
    overflow: initial;
    height: fit-content;

    & button {
      background: var(--complement);
      color: var(--primary-neutral);
      font-size: 10px;
      text-transform: uppercase;
      border: none;
      border-radius: 12px;
      padding: 5px 13px;
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 600;
      display: none;
    }
  }

  & .post-location {
    padding: 16px;
    border-top: 1px solid #e8e8e8;
    // border-bottom: 1px solid #E8E8E8;

    & .heading {
      font-size: 16px;
      color: var(--primary);
      position: relative;
      padding-left: 8px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 18px;
        background: var(--primary);
        border-radius: 10px;
        width: 4px;
      }
    }

    & .icon {
      width: 12px;
      margin-right: 5px;
    }

    & span {
      font-size: 16px;
      color: var(--primary-neutral);
    }

    & h4 {
      color: var(--complement-dark-i);
      font-size: 32px;
      font-weight: normal;
      margin: 6px 0;
    }

    & small {
      font-size: 12px;
      text-transform: lowercase;
      margin-left: 7px;
    }

    & .content p {
      font-size: 14px;
      margin: 0 !important;
    }

    & .content > img.map {
      object-fit: cover;
      width: 100%;
      max-height: 120px;
      border-radius: 10px;
      margin-top: 8px;
    }
  }
}

#start {
  flex: 0 0 50%;
  border-right: 1px solid #e8e8e8;
}

#end {
  flex: 1;
}

.blur-content {
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--black) 30%,
    transparent 100%
  );
  mask-image: linear-gradient(to bottom, var(--black) 30%, transparent 100%);
  overflow: hidden;
  height: 100px;

  & + button {
    display: block !important;
  }
}

.participants-section {
  margin-bottom: 16px;

  & > .container {
    padding: 16px;
    display: flex;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;

    & h6 {
      margin-top: 8px;
      flex: 0 0 25%;
      font-size: 12px;
      color: var(--primary-neutral);
      height: max-content;

      & > .icon {
        width: 12px;
        margin: 0 5px 0 0;
      }
    }

    & .participants {
      position: relative;
      flex: 1;

      & img {
        margin: 7.5px 2px;
        margin-top: 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.flex-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  flex-grow: 4;
  flex: 0 0 14%;
}

.icon-container {
  // flex: 0 0 90%;
  // height: 40px;
  display: flex;
  flex: 0 0 90%;
  flex-wrap: wrap;
  // overflow: hidden;
}

#down-arrow {
  border: 1px solid #ac8ec9;
  border-radius: 50%;
  background: var(--white);
  width: 30px;
  height: 30px;
  margin: 0 2px;
}

.down-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #ac8ec9;
  border-width: 0 1px 1px 0;
  // display: inline-block;
  padding: 3px;
}

.sticky-nav {
  padding-top: 40px;
  // common styles with profile
  // z-index: 999;
  z-index: 99;
  background-color: var(--white);
  // border-top: 1px solid #E8E8E8;
  // border-bottom: 1px solid #E8E8E8;
  // padding: 15px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.comments-section {
  margin: 16px;

  & .container {
    // align-items: baseline;
    margin-bottom: 15px;
  }

  & .left {
    // flex: 0 0 12.5%;
    flex: 0 0 45px;

    & > img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  & .right {
    flex: 1;
    position: relative;

    & > h5 {
      color: var(--primary);
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 4px;

      & span {
        font-size: 10px;
        color: #bababa;
        margin-left: 12px;
      }
    }

    & > p {
      color: var(--primary-neutral);
      font-size: 14px;
      margin: 0;
      width: 90%;
    }

    & .reply-icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
    }

    & .reply-icon .cls-1 {
      color: var(--complement);
      fill: var(--complement);
    }
  }
}

.post-footer {
  background-color: var(--primary);
  transition: all 0.3s ease-out;
  height: 56px;
  width: 100%;
  max-width: 730px;
  position: fixed;
  bottom: 0;
  display: block;

  & .icon {
    width: 26px;
    height: 26px;
  }

  & .icon-going {
    margin-right: 13.3px;
    width: 24px;
  }

  & .icon-going.checked path {
    fill: var(--primary);
  }

  & span {
    font-size: 14px;
    color: var(--complement-dark-ii);

    &.icon-check {
      margin: auto;
      align-items: center;
    }

    &.checked {
      color: var(--primary);
    }
  }

  & .like-comment {
    display: inline-flex;
    height: 100%;
    justify-content: space-evenly;
    width: 60%;
  }

  & .going {
    display: inline-flex;
    height: 100%;
    width: 40%;
    align-items: center;
    background-color: var(--complement) !important;
  }
}

.comment-form {
  position: fixed;
  bottom: 0;
  height: 0px;
  width: 100%;
  max-width: 730px;
  overflow-y: hidden;
  transition: all 0.3s ease-out;
  // transition-property: all;
  // transition-duration: .5s;
  // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  & .input-form {
    background-color: var(--primary);
    width: 85%;
    height: 100%;
    justify-content: space-evenly;

    & input {
      box-sizing: border-box;
      width: 80%;
      padding: 7px 19px;
      border: 1px solid var(--white);
      border-radius: 20px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--primary-light);
      }
    }
  }

  & .icon {
    width: 28px;
    height: 24px;
  }

  & .submit-button {
    outline: none;
    border: none;
    width: 15%;
    height: 100%;
    background-color: var(--complement);
  }
}

#close-comment {
  width: 20px;
  height: 20px;
}

.h-56 {
  height: 56px;
}
.h-0 {
  height: 0px;
}

.long-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 0; // 240px
  z-index: 999;
  background-color: var(--primary-dark);
  transition: 0.5s ease-in-out;
}

#sidebar.sidebar .container {
  display: none;
}
#sidebar.show.sidebar > .container {
  display: block !important;
  height: 100%;
  position: relative;

  & .button-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;

    & button.disabled {
      background-color: #bababa;
      color: #666666;
    }

    & button {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      background-color: var(--complement);
      color: var(--primary-dark);
      font-size: 16px;
      font-weight: bold;

      & .icon {
        width: 16px;
        margin-right: 4px;
      }

      & small {
        margin-top: 3px;
        font-size: 10px;
        font-weight: normal;
        display: block;
      }
    }
  }
}

.custom-date {
  background: var(--white);
  visibility: hidden;
  color: #000;
  line-height: 50px;
  position: relative;

  transition: all 0.3s ease-in-out;
  height: 0;

  &.expand {
    visibility: visible;
    height: 35px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      width: 0;
      height: 0;
    }

    &::before {
      left: 19px;
      border: 7px solid transparent;
      border-bottom-color: var(--white);
    }

    &::after {
      left: 32px;
      border: 11px solid transparent;
      border-bottom-color: var(--white);
      position: relative;
      height: 100%;
    }

    // & > span .icon {
    // width: 12px !important;
    // display: block;
    // visibility: visible;
    // transition: 0.25s ease-in-out;
    // transition-delay: 0.25s;
    // }
  }

  & small {
    color: var(--complement);
  }

  & > span {
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    & .icon {
      width: 12px;
    }
  }

  & input[type="date"] {
    color: var(--primary-dark);
    width: auto;
    text-align: center;
    border: transparent;
    background-color: transparent;
    outline: none;
    font-size: 11px;

    &:focus {
      background-color: var(--complement);
    }
  }
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  border-right: 1px solid var(--black);
  background-color: transparent;
  outline: none;
  // margin-left: -10px;
  // margin-right: -5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  outline: none;
}

.filter {
  padding: 16px;
  // display: inline-block;

  & > .heading {
    font-size: 12px;
    color: #ac8ec9;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--primary);
  }

  & > .filter-choices {
    display: flow-root;
    padding: 0;
    margin: 0;
    clear: both;

    & li {
      list-style-type: none;
      // list-style-position: outside;
      padding: 10px 2px 3px 2px;
      float: left;
      font-size: 12px; // 12px

      & input[type="radio"]:not(:checked),
      & input[type="radio"]:checked {
        position: absolute;
        left: -9999%;
      }

      & input[type="radio"] + label {
        display: inline-block;
        padding: 3px 7px;
        cursor: pointer;
        border-radius: 12px;
        color: var(--white);
        background-color: transparent;
        // margin-bottom: 10px;
      }

      & input[type="radio"]:checked + label {
        font-weight: 600;
        border-radius: 12px;
        color: var(--primary-dark);
        background-color: var(--complement-light);
      }
    }
  }
}

#filter-channel input[type="radio"] + label {
  border: 1px solid var(--white);
}

.show {
  width: 260px !important; //240px
  transition: 0.5s linear;
}

.comments.stat::after,
#past-stat::after {
  display: none;
}

#comment-icon-not-active path {
  fill: #bababa;
}

.stats {
  & > ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    margin: 0;

    & li {
      // list-style-type: none;

      &.active {
        color: var(--complement);
        font-weight: 600;
        transition: 0.3s ease background-color;

        & a {
          color: var(--complement);
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8c8c8c;
  }
}

section {
  scroll-margin-top: 95px;
}

.container-flex {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .not-found-container {
    background: #fafafa;
  }
}

.content-container {
  margin-top: 280px;
  position: relative;
  flex: 1 1 auto;
  background: #fafafa;
}

.filter-results {
  background-color: var(--background);
  position: relative;
  padding: 14px 27px;
  height: 50px;

  & h2 {
    color: var(--primary);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  & p {
    color: var(--primary-neutral);
    font-size: 12px;
  }

  & button {
    border: none;
    outline: none;
    font-size: 10px;
    background-color: var(--complement);
    color: var(--primary-neutral);
    border-radius: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 12px;
    right: 27px;
  }
}

.toast {
  max-width: 730px;
  background-color: var(--complement-light);
  z-index: 99;
  margin: 0;
  position: fixed;
  width: 100%;
  margin-left: -16px;
  margin-top: -24px;
  top: 111px;
  opacity: 0.8;

  & p {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary);
  }
}
